.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.nopadding {
    padding: 0 !important;
}

.mb10 { margin-bottom: 10px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom: 30px !important; }

.pt4 { padding-top: 4px; }
.pt5 { padding-top: 5px; }
.pt6 { padding-top: 6px; }
.pt7 { padding-top: 7px; }
.pt8 { padding-top: 8px; }

.inline-block { display: inline-block; }

.weight100 { font-weight: 100 !important; }
.weight200 { font-weight: 200 !important; }
.weight300 { font-weight: 300 !important; }
.weight400 { font-weight: 400 !important; }
.weight500 { font-weight: 500 !important; }
.weight600 { font-weight: 600 !important; }
