.toolbar {
	@include noselect;
	height: $toolbar-height;
	border-bottom: 1px solid #023a65;
	box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset/*, 0px -4px 0px #024b81 inset*/;
	position: relative;
	padding: 16px 5px;
	-webkit-app-region: drag;

	background: #0075c7; /* Old browsers */
	background: -moz-linear-gradient(top,  #0075c7 0%, #006fc4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0075c7), color-stop(100%,#006fc4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0075c7 0%,#006fc4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0075c7 0%,#006fc4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0075c7 0%,#006fc4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0075c7 0%,#006fc4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0075c7', endColorstr='#006fc4',GradientType=0 ); /* IE6-9 */

	button {
		cursor: default;
	}

	select {
		max-width: 200px;
	}

	>ul {
		list-style: none;
		margin: 0;
		padding: 0;

		> li {
			float: left;
			font-size: 12px;
			font-weight: 300;
			margin-right: 10px;

			button {
				background: transparent;
				border: none;
				color: #fff;
				text-shadow: 0px 1px 0px rgba(0,0,0,0.2);

				&.inset {
					background: rgba(2, 83, 143, 0.6);
					box-shadow: 0px 1px 0px #01417b inset, 0px 1px 0px rgba(255,255,255,0.1);
					border-radius: 50%;
					width: 18px;
					height: 18px;
					text-align: center;
					padding-top: 1px;
					margin-top: 3px;
					margin-left: 5px;
				}

				span {
					margin-left: 2px;
				}

				&:hover {
					color: #ddd;
				}
				&:active {
					color: #000;
					text-shadow: 0px 1px 0px rgba(255,255,255,0.3);

					span {
						font-weight: 400;
					}
				}
			}

			select {
				//background: transparent;
				color: #fff;
				border: none;
				text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
				background-color: rgba(2, 83, 143, 0.6);
				background-image: url(triangle.png);
				background-repeat: no-repeat;
				background-size: 9px 8px;
				background-position: 95% center;
				box-shadow: 0px 1px 0px #01417b inset, 0px 1px 0px rgba(255,255,255,0.1);
				height: 25px;
				margin-top: -2px;
				-webkit-appearance: none;
				padding: 0 25px 0px 8px;
				border-radius: 4px;

				option {
					background-color: #ffffff;
					color: #000000;
					box-shadow: none;
					border: none;
				}
			}

			label {
				color: #fff;
				font-weight: 300;
				text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
				margin: 0 5px;
			}

			&.last {
				float: right;
				margin-left: 5px;
				margin-right: 0;

				.dropdown-menu {
					left: auto;
					right: 0;
				}
			}
		}
	}

	&.toolbar-right {

	}

	&.toolbar-left {

	}
}

.toolbar-divider {
	position: absolute;
	left: 0px;
	top: 0;
	border-left: 1px solid #02518d;
	border-right: 1px solid #007dcb;
	z-index: 9999;
	height: $toolbar-height;
}


.system-buttons {
	position: fixed;
	z-index: 999999;
	top: 18px;
	left: 14px;
	height: 13px;
	width: 52px;
	//-webkit-app-region: drag;

	&:hover {
		button {
			&.quit { background-image: url(close-hover.png); }
			&.minimize { background-image: url(minimize-hover.png); }
			&.maximize { background-image: url(maximize-hover.png); }
		}
	}

	button {
		background-color: transparent;
		background-size: 13px 13px;
		border: none;
		color: #fff;
		text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
		cursor: default;
		font-size: 11px;
		position: absolute;
		text-align: center;
		color: #000;
		text-shadow: none;
		line-height: 11px;

		span {
			position: absolute;
			display: none;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			text-align: center;
		}

		&.system {
			width: 13px;
			height: 13px;
			padding: 0;
			border-radius: 100%;
			box-shadow: 0px 0px 2px rgba(0,0,0,0.2) inset;
//			margin-left: 3px;
//			margin-top: 3px;
		}

		&.quit {
			background-image: url(close-idle.png);
			&:hover { background-image: url(close-hover.png); }
			&:active { background-image: url(close-clicked.png); }
			left: 0;

//			span {
//				top: -1.8px;
//  				left: 3.2px;
//			}
		}

		&.minimize {
			background-image: url(minimize-idle.png);
			&:hover { background-image: url(minimize-hover.png); }
			&:active { background-image: url(minimize-clicked.png); }
			left: 20px;

			span {
				top: -1.2px;
//  				left: 2px;
			}
		}

		&.maximize {
			background-image: url(maximize-idle.png);
			&:hover { background-image: url(maximize-hover.png); }
			&:active { background-image: url(maximize-clicked.png); }
			left: 40px;

//			span {
//				top: -1.8px;
//  				left: 3.2px;
//			}
		}
	}
}

.nav-tabs-toolbar {
	display: flex;
	flex-direction: row;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: none;
	justify-content: center;

	li {
		height: 100%;
		float: none;
		margin: 0 !important;
		font-size: 12px;
		width: 70px;
    	text-align: center;

		a {
			text-align: center;
			border: none;
			border-radius: 0;
			padding: 7px 15px;
			margin-top: 9px;
    		padding-bottom: 0px;
			color: #1A3D56;
			width: 100%;
			text-shadow: 0px 1px 0px rgba(255,255,255,0.15);

			span {
				display: block;
				font-size: 10px;
    			margin-top: 3px;
			}

			i {
				font-size: 26px;
				height: 30px;
			}

			&:hover, &:active, &:focus {
				background: transparent;
				border: none;
			}
		}

		&.active {
			a {
				border: none;

				color: #fff;
    			text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
				background: -webkit-radial-gradient(
						0% 50%,
						10% 90%,
						rgba(0,0,0,0.2) 0%,
						rgba(255,0,0,0.00) 70%
					),
					-webkit-radial-gradient(
						100% 50%,
						10% 90%,
						rgba(0,0,0,0.2) 0%,
						rgba(255,0,0,0.00) 70%
					);

				&:hover, &:active, &:focus {
					background: transparent;
					border: none;
					color: #ececec;

					background: -webkit-radial-gradient(
						0% 50%,
						10% 90%,
						rgba(0,0,0,0.2) 0%,
						rgba(255,0,0,0.00) 70%
					),
					-webkit-radial-gradient(
						100% 50%,
						10% 90%,
						rgba(0,0,0,0.2) 0%,
						rgba(255,0,0,0.00) 70%
					);
				}
			}
		}
	}
}

.Win32, .Win64 {
	.system-buttons {
		display: none;
	}

	.win-left {
		float: left !important;
	}
}

.toolbar *,
.system-buttons * {
	-webkit-app-region: no-drag;
}
